@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
    --dm-sans: DM Sans;
    --varela-round: Varela Round;
    --main-text: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--dm-sans);
    overflow: hidden;
}

button,
input {
    font-family: var(--dm-sans);
}

a {
    text-decoration: none;
}

a:visited {
    color: transparent;
}

.active {
    background-color: #171717;
}
