@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    --dm-sans: DM Sans;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--dm-sans);
}

button,
input {
    font-family: var(--dm-sans);
}

a {
    text-decoration: none;
}
