@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@font-face {
    font-family: Space Grotesk;
    src: url("/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}
:root {
    --dm-sans: DM Sans;
    --varela-round: Varela Round;
    --test: Space Grotesk;
    --main-text: black;
    --light: #ffffe3;
    --dark: #10100e;
    --accent: #ff6000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--test);
    overflow: hidden;
    background-color: var(--light);
}

button,
input {
    font-family: var(--test);
}

a {
    text-decoration: none;
}

a:visited {
    color: none;
}

.active {
    background-color: #262626;
}
